*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 133px 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
}
.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
  top: -4px;
}
.result__video {
  width: inherit;
  height: inherit;
  display: block;
  object-fit: cover;
}
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: flex-start;
  padding-bottom: 4px;
}
.search-form__fieldset {
  border: none;
}
.search-form__fieldset-title {
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 5px;
}
.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__label:focus {
  outline: solid 1px #FFF;
}

.search-form__label-text {
  appearance: none;
  padding-right: 15px;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

input {
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-left: none;
  border-right: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  width: 225px;
  margin-right: 15px;
  padding: 0;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.70);
}

input:active {
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
}

input:hover {
  cursor: text;
}

input:focus {
  outline: none;
}

input:focus-visible {
  outline: 1px solid #FFF;;
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
  cursor: pointer;
}

/* input[type="checkbox"]:hover + span {} */

input[type='checkbox']:checked + span {
  background-color: #FFF;
  width: 15px;
  height: 15px;
  border: 1px solid #1B1919;
  position: relative;
}

input[type='checkbox']:checked + span::before {
  content: " ";
  position: absolute;
  z-index: 1;
  width: 19px;
  border: 1px solid #FFF;
  top: -3px;
  height: 19px;
  left: -3px;
}

/* input[type="checkbox"]:active + span {}

input[type="checkbox"]:focus + span {} */

.button {
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
}

.button:active {
  background: #545050;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:focus {
  outline: solid 1px #FFF;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  padding: 6px 0;
  color: #FFF;
text-align: center;
font-family: Fira Sans Condensed;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
align-self: flex-end;
}
.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  align-self: start;
}
.title {
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}
.content__list {
  overflow: scroll;
  display: flex;
  max-height: 298px;
  max-width: 399px;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  position: relative;
}

.content__card-link {
  text-decoration: none;
}
.content__video-card {
  display: flex;
  justify-content: space-between;
  display: flex;
  width: 394px;
  padding: 2px;
}

.content__video-card:active {
  background: #545050;
}

.content__video-card:hover {
  text-decoration: underline;
  text-decoration-color: #FFF;
}

.content__video-card:focus {
  outline: solid 1px #FFF;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}
.content__video-card-description {
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  flex-shrink: 0;
  display: block;
}

.more-button {
  width: 399px;
  text-align: center;
  padding: 6px 0;
}

