*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 133px 30px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  top: -4px;
  width: 711px;
  height: 386px;
}

.result__video {
  display: block;
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: flex-start;
  padding-bottom: 4px;
  color: #fff;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__label:focus {
  outline: solid 1px #fff;
}

.search-form__label-text {
  padding-right: 5px;
  appearance: none;
}

.visually-hidden {
  position: relative;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

input {
  width: 225px;
  margin-right: 15px;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input:active {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

input:hover {
  cursor: text;
}

input:focus {
  outline: none;
}

input[type="text"]:focus-visible:not(:active) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;
}

input[type="checkbox"]:checked+.search-form__pseudo-checkbox::after {
  content: "";
  z-index: 1;
  background-color: #fff;
  min-inline-size: 15px;
  min-block-size: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible):not(:first-of-type) {
  outline: 1px solid #fff;
}

.search-form__label:hover {
  text-decoration: underline;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  background-color: transparent;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus {
  outline: solid 1px #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
  padding: 6px 0;
  color: #fff;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  align-self: start;
}

.title {
  color: #fff;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  max-width: 399px;
  height: 100%;
  max-height: 298px;
  overflow: hidden scroll;
}

.content__card-link {
  text-decoration: none;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  width: 394px;
  padding: 2px;
}

.content__video-card:active {
  background: #545050;
}

.content__video-card:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.content__list-item:focus {
  outline: solid 1px #fff;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16.2px;
  /* 90% */
}

.content__video-card-thumbnail {
  display: block;
  flex-shrink: 0;
  width: 194px;
  height: 103px;
}

.more-button {
  width: 399px;
  padding: 6px 0;
  text-align: center;
}